@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mycolor: #d65108;
    --mycolor-dark: #b54507;
}


/* #d65108 */

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'poppins', sans-serif;
}


/* buttons */

.btn {
    cursor: pointer;
    font-family: inherit;
    outline: 0;
    font-size: 1.05rem;
}

.nav {
    width: 100%;
    height: 10vh;
    background: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    margin: auto;
    font-size: 1.2rem;
}

.find-fav {
    margin-right: 3rem;
    padding: 0.5rem, 5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
    min-height: 100vh;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-content,
.search-btn {
    width: 100%;
}

.search-content {
    outline: 0;
    padding: 0 1rem;
    font-family: inherit;
    border: 1px solid var(--mycolor);
    color: var(--mycolor);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: 1.2rem;
}

.search-content::placeholder {
    color: var(--mycolor);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--mycolor);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--mycolor-dark);
}

.meal-result {
    margin-top: 4rem;
}

.meal {
    margin: 2.4rem;
}

.meal-item {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-image img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
    background-color: #fff;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-btn {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    background: var(--mycolor);
    font-weight: 500;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
    display: inline-block;
}

.fa-solid {
    font-size: 2rem;
    margin: auto auto 0 2.3rem;
    color: black;
    transition: all 0.4s linear;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.fa-solid:hover {
    color: var(--mycolor-dark);
    box-shadow: 0 0 2px 2px var(--mycolor);
}

.set-color {
    color: var(--mycolor);
}

.recipe-btn:hover {
    background: var(--mycolor-dark);
}

@media screen and (min-width:600px) {
    .meal-search-box {
        width: 540;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:768px) {
    .meal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item {
        margin: 0;
    }
    .meal-details {
        width: 700px;
    }
}

@media screen and (min-width:992px) {
    .meal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/* recipe details  */

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: var(--mycolor);
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2rem;
}


/* js related */

.recipe-detail-content {
    margin: 2rem;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    border-radius: 50%;
    border: none;
    background: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-categorie {
    background: #fff;
    color: var(--mycolor);
    font-weight: 600;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-construct {
    padding: 1rem 0;
}

.recipe-meal-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    font-weight: 700;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.7;
}

.notfound {
    grid-template-columns: 1fr!important;
    color: var(--mycolor);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.fav-list {
    position: fixed;
    top: 10%;
    right: 0;
    width: 30%;
    transform: translate(2%, 0);
    /* height: 70%; */
    /* background-color: var(--mycolor); */
    overflow-y: scroll;
    display: none;
}

.fav-list::-webkit-scrollbar {
    width: 10px;
}

.fav-list::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 2rem;
}

.fav-wrapper {
    width: 100%;
    height: 60%;
    padding: 2rem;
    background: var(--mycolor);
    color: black;
}

.fav-close-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 2rem;
    top: 0.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* js related class */

.show-recipe {
    display: block;
}


/* hide */

.hide {
    display: none;
}